﻿@page
@model RecipeWeb.Pages.My.CommentListModel
@{
}
<div  class="text-center">
    <h1 class="display-4">Comment list</h1>
    <table  border="1">
        <tr><th>#</th><th>Comment Body</th><th>Recipe Name</th><th></th></tr>
        
  @foreach (var Comment in Model.Comments)
{
   <tr><td>@Comment.commentId</td><td>@Comment.CommentBody</td><td>@Comment.RecipeId</td>
   <td> <a asp-page="/My/CommentDelete" asp-route-id="@Comment.commentId" >Delete</a> </td>
   </tr>
   
} 
    </table>

</div>