﻿@page
@model RecipeWeb.Pages.CommentDeleteModel
@{
}
<h3>Are you sure you want to delete this record?</h3>
<h4>@Model.Comment.CommentBody</h4>
<br>
<form method="post">
    <input type="submit" value="Delete">
</form>
<a asp-page="/Index" asp-route-id = "@Model.Comment.commentId">Cancel</a>