﻿@page "{id:int}"
@model RecipeWeb.Pages.DeleteModel

@{
  
}
<h3>Are you sure you want to delete this record?</h3>
<h4>@Model.Recipe.Name</h4>
<br>
<form method="post">
    <input type="submit" value="Delete">
</form>
<a asp-page="/Index" asp-route-id = "@Model.Recipe.Id">Cancel</a>