﻿@* @page
@model RecipeWeb.Pages.My.RecipeListModel
@{
}
@foreach (var Recipe in Model.Recipes)
{ 
    <div id="RecipesWrapper" class="row">
  <div class="col-6">  
  <a  asp-page="/My/RecipeEdit"  asp-route-id="@Recipe.Id" title="Order @Recipe.Name" >
       <h3 style="font-weight:bolder"> @Recipe.Name</h3>
       </a>
     <a  asp-page="/My/RecipeEdit" asp-route-id="@Recipe.Id" title="Order @Recipe.Name"> 
        <p class="description" style="display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2; 
                                     overflow: hidden;">@Recipe.Description</p>
                                     </a>
           
  
         </div>
 
  <div class="col-6">
    <img class="Recipe-image" src="~/images/@Recipe.Picture" alt="Image of @Recipe.Name" width="550px" height="300" />  
  </div>

   <a class="nav-link text-dark" asp-area="" asp-page="/My/RecipeEdit">Edit Your Recipe</a>


        
    </div>
    <br/><br/>
    
}   *@

@page
@model  RecipeWeb.Pages.My.RecipeListModel

@{
    ViewData["Title"] = "Home";
}
<br/>
<div class="container">
   
    <div class="row " >
      <div class="col-sm-4">
           <a class="nav-link text-dark" asp-area="" asp-page="My/RecipeList"><h5>My Recipe History</h5></a>
      </div>  
      <div class="col-sm-4">
           <a class="nav-link text-dark" asp-area="" asp-page="/AddRecipe"><h5>Create a recipe</h5></a>
      </div>  
      <div class="col-sm-4">
          <a class="nav-link text-dark" asp-area="" asp-page="/My/CommentList"><h5>My Comments History</h5></a>
      </div>  
    </div>
   <hr/><br/>
    <div id="RecipesWrapper" class="row">
    
@foreach (var Recipe in Model.Recipes)
{
  <div class="col-lg-4 ">  
  <div class="col" style="height:70px">
       <a  asp-page="/Recipe" asp-route-id="@Recipe.Id" title="Order @Recipe.Name">
       <h4 class="recipeName">@Recipe.Name</h4>
        </a>
  </div>
  <div class="w-100"></div>
  <div class="col">
      <a  asp-page="/Recipe" asp-route-id="@Recipe.Id" title="Order @Recipe.Name">
    <img class="Recipe-image img-fluid img-thumbnail" src="~/images/@Recipe.Picture" alt="Image of @Recipe.Name" />  
    </a>
  </div>
  <div class="w-100"></div>
  <div class="col">
      <a  asp-page="/Recipe" asp-route-id="@Recipe.Id" title="Order @Recipe.Name">
       <p class="description" style="display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2; 
                                     overflow: hidden;">@Recipe.Description</p>
      </a>
  </div>

        <div class="action">
           
            <a class="btn btn-sm btn-danger order-button float-right" asp-page="/My/RecipeEdit" asp-route-id="@Recipe.Id" title="Order @Recipe.Name">Edit </a>
        </div>
    </div>
    
}
</div>
</div>