﻿@page "{id:int}"
@model RecipeWeb.Pages.My.RecipeEditModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col">
        <form method="post"  enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Name" name="Name" class="form-control" value="@Model.Recipe.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-6">
                        <select name="CategoryId" asp-items="Model.CategoryList" >
                           
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" name="Description" class="form-control" value="@Model.Recipe.Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Ingredients"></label>
                    </div>
                    <div class="col-6">
                        <textarea id="Ing" rows="15" cols="100" asp-for="Ingredients" name="Ingredients" class="form-control" value=@Model.Recipe.Ingredients></textarea>
                        <script type="text/javascript">
                  $(function () {
                  $("#Ing").html("@Model.Recipe.Ingredients");
                  });
                         </script>
                        <span asp-validation-for="Ingredients" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Directions"></label>
                    </div>
                    <div class="col-6">
                        <textarea id="Dir" rows="15" cols="100" asp-for="Directions" name="Directions" class="form-control" ></textarea>
                        <script type="text/javascript">
                  $(function () {
                  $("#Dir").html("@Model.Recipe.Directions");
                  });
                         </script>
                        <span asp-validation-for="Directions" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="ImageFile"></label>
                    </div>
                    <div class="col-6">
                        <input id="ImagePath" asp-for="ImageFile" title="Upload a product image"
                               type="file" name="ImageFile"  placeholder="@Model.Recipe.ImageFile"/><br />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 offset-3">
                       <p class="actions">
               
                <button class="btn btn-danger order-button">Update</button>
                <a asp-page="/My/Delete" asp-route-id="@Model.Recipe.Id" >Delete</a> 
                
            </p>
                    </div>
                </div>
            </form>
        
    </div>
</div>

<div>
    <a asp-page="/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
