﻿@page
@model RecipeWeb.Pages.Admin.CategoryModel
@{
ViewData["Title"] = "Admin-Recipe";
Layout = "_AdminLayout";
}


<div class="card-body col-md-9">
    <table id="categorytable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Category in Model.Categories)
            {
            <tr>
                <td>@Category.Id</td>
                <td>@Category.Code</td>
                <td>@Category.Name</td>
                <td>
                    <button id="btndelCategory" form="delform" type="submit" class="btn btn-primary btn-default">
                        Delete
                    </button>
                    <form id="delform" role="form" asp-page-handler="delete" asp-route-id="@Category.Id" method="post"
                        display="none">
                    </form>
                </td>
            </tr>
            }
        <tfoot>
            <tr>
                <form asp-page-handler="create">
                    <th></th>
                    <th>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </th>
                    <th>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </th>
                    <th>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </th>
                </form>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.card-body -->


@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var element = document.getElementById('navcategory');
        element.classList.add('active');
    });
</script>
}