﻿@page
@model RecipeWeb.Pages.Admin.RecipeModel
@{
ViewData["Title"] = "Admin-Recipe";
Layout = "_AdminLayout";
}

<div class="card-body col-md-9">
  <table id="recipetable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var Recipe in Model.Recipes)
      {
      <tr>
        <td>@Recipe.Name</td>
        <td>@Recipe.Description</td>
        <td><img class="Recipe-image img-fluid img-thumbnail" src="~/Images/@Recipe.Picture" alt="Image of @Recipe.Name"
            width="150" /></td>
        <td>
          <button id="btndelRecipe" form="delform" type="submit" class="btn btn-primary btn-default">
            Delete
          </button>
          <form id="delform" role="form" asp-page-handler="delete" asp-route-id="@Recipe.Id" method="post" display="none">
          </form>
        </td>
      </tr>
      }

      </tfoot>
  </table>
</div>
<!-- /.card-body -->

@section Scripts {
<script type="text/javascript">
  $(document).ready(function () {
    var element = document.getElementById('navrecipe');
    element.classList.add('active');
  });
</script>
}