﻿@page
@model RecipeWeb.Pages.Admin.UserModel
@{
ViewData["Title"] = "Admin-User";
Layout = "_AdminLayout";
}

<div class="card-body col-md-9">
  <table id="usertable" class="table table-bordered table-striped">
    <thead>
      <tr>

        <th width="30%">User Email</th>
        @* <th>Role</th> *@
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var user in Model.UserList)
      {
      <tr>
        <td>@user.Email</td>
        @* <td></td> *@
        <td>
          <button id="btnsetAdmin" form="setform @user.Email" type="submit" class="btn btn-primary btn-default">
            Set Admin
          </button>
          <form id="setform @user.Email" role="form" asp-page-handler="edit" asp-route-UserName="@user.Email"
            asp-route-Role="Admin" method="post" display="none">
          </form>
        </td>
        <td>
          <button id="btnrevokeAdmin" form="revokeform @user.Email" type="submit" class="btn btn-primary btn-default">
            Revoke Admin
          </button>
          <form id="revokeform @user.Email" role="form" asp-page-handler="edit" asp-route-UserName="@user.Email"
            asp-route-Role="User" method="post" display="none">
          </form>
        </td>
        <td>
          <button id="btndelUser" form="delform" type="submit" class="btn btn-primary btn-default">
            Delete User
          </button>
          <form id="delform" role="form" asp-page-handler="delete" asp-route-id="@user.Id" method="post" display="none">
          </form>
        </td>
      </tr>
      }

      </tfoot>
  </table>
</div>
<!-- /.card-body -->

@section Scripts {
<script type="text/javascript">
  $(document).ready(function () {
    var element = document.getElementById('navuser');
    element.classList.add('active');
  });
</script>
}