﻿
@{
    Layout = "_Layout";
}

<div class="container">
    <main role="main" class="pb-3">
        <h2>Admin Page</h2>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="navuser" href="/Admin/user">User</a>
                        <a class="nav-link" id="navrecipe" href="/Admin/recipe">Recipe</a>
                        <a class="nav-link" id="navcategory" href="/Admin/category">Category</a>
                    </li>
                </ul>
            </div>
            @RenderBody()
        </div>
    </main>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}