﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
            @* <a class="nav-link text-dark" asp-area="" asp-page="/AddRecipe">Add Recipe</a> *@
            <a class="nav-link text-dark" asp-area="" asp-page="/AddRecipe">Add Recipe</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/My/RecipeList">My Account</a>
            @if (User.IsInRole("Admin")){
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/user">Manage</a>
            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello,
                    @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Page("/", new { area="" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            }
            else
            {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            }
        </ul>