﻿@page
 @model RecipeWeb.Pages.IndexModel

@{
   
  
} 




<br/><br/>

@* <div>
    <p>
    <a asp-page="Create">Create New</a>
</p>
</div> *@
<br/>
<div >

@* <form>

    <p>
      Category:  <select asp-for="RecipeGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select><br/>
       &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Filter: <input type="text" asp-for="SearchString" placeholder="Find a recipe"/>
       <button type="submit" class="btn btn-danger"> <i class="fas fa-search"></i> </button> 
    </p>
</form> *@
<form>
 <div class="row " >
      <div class="col">
         Category:  <select asp-for="RecipeGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
      
      
      
         Filter: <input type="text" asp-for="SearchString" placeholder="Find a recipe"/>
       <button type="submit" class="btn btn-danger"> <i class="fas fa-search"></i> </button> 
      </div>  
    </div>
</form>
    </div>
    <br/><br/>

@foreach (var Recipe in Model.Recipes)
{ 
    <div id="RecipesWrapper" class="row">
  <div class="col-6">  
  <a  asp-page="Recipe"  asp-route-id="@Recipe.Id" title="Order @Recipe.Name" >
       <h3 style="font-weight:bolder"> @Recipe.Name</h3>
       </a>
     <a  asp-page="Recipe" asp-route-id="@Recipe.Id" title="Order @Recipe.Name"> 
        <p class="description" style="display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2; 
                                     overflow: hidden;">@Recipe.Description</p>
                                     </a>
           Create by:<b>@User.Identity.Name</b>    
    @* <div class="action">
           
            <a class="btn btn-sm btn-danger order-button float-right" asp-controller="Recipes" asp-action="Details" asp-route-id="@Recipe.Id" title="Order @Recipe.Name">View</a>
        </div>   *@
         </div>
 
  <div class="col-6">
    <img class="Recipe-image" src="~/images/@Recipe.Picture" alt="Image of @Recipe.Name" width="550px" height="300" />  
  </div>


        
    </div>
    <br/><br/>
    
}  

