﻿
@page "{id:int}"
@model RecipeWeb.Pages.RecipeModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
ViewData["Title"] = "Recipe: " + @Model.Recipe.Name;
}
<header class=>
    <!-- header -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 text-center text-lg-left">
                <h1>@Model.Recipe.Name</h1>
            </div>
            <div class="col-12 col-lg-3 text-center text-lg-right">
                @for(var i=0; i< @Model.AveRating; i++) {<i class="fas fa-star"></i>}

            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row mb-2">
        <!-- Description -->
        <div class="col-12 text-justify">
            @Model.Recipe.Description
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-8 col-lg-9" id="infoPic">
            <div>
                <img src="~/images/@Model.Recipe.Picture" alt="Image of recipe" class="img-fluid">
            </div>
        </div>
    </div>
    <hr>
    <!-- Ingredients -->
    <div class="row">
        <div class="col-12">
            <h2>Ingredients</h2>
            @Model.Recipe.Ingredients
        </div>

    </div>
    <hr>
    <div class="row">
        <!-- Instructions -->
        <div class="col-12">
            <h2>Instructions</h2>
        </div>
        <div class="row step">
            <div class="col-12 col-lg-6 text-justify">
                @Model.Recipe.Directions
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- review -->
        <div class="col-12">
            <h2>Reviews</h2>
        </div>
    </div>

    @if(@Model.commentList.Any()){
        @foreach ( var comment in @Model.Recipe.Comments){
        <div class="form-group col-12 col-md-4">
            @for (var i=0; i<@comment.Rating; i++){ <i class="fas fa-star"></i>
                }
                <p>@comment.CommentBody</p>
        </div>
        }
    }
    @if (SignInManager.IsSignedIn(User)){
    <form method="post">
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <span class="star-rating star-5">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>
            </div>
            <div class="form-group col-12 col-md-8">
                <textarea class="form-control" placeholder="Leave your Comment..." name="commentBody"></textarea>
            </div>
            <div class="form-group col-12 col-md-6 offset-md-3 offset-lg-last">
                <button class="btn-primary btn-lg btn-block">Submit</button>
            </div>
        </div>
    </form>
    }
</div>